.banner {
    width: 100%;
    height: 150px;
    background-color: #4aeaff;

    text-align: center;
    padding-top: 50px;   
    box-sizing: border-box;
}

.banner h1 {
    margin: 0;
    font-size: 28px;
}

.text {
    padding: 15px;
    text-align: center;
    font-size: 18px;
}
