.service-card {
    width: 300px;                 
    border: 2px solid #1eff29;    
    border-radius: 10px;          

    text-align: center;          
    padding: 20px;               
    margin: 30px auto;            
}

.service-card h2 {
    margin: 0 0 10px;
}

.service-card p {
    margin: 0;
    font-size: 16px;
}
