body {
    font-family: "Times New Roman", serif;
}

.doctor-card {
    width: 350px;
    border: 1px solid black;
    margin: 20px auto;
}

.doctor-title {
    padding: 10px;
    font-weight: bold;
    color: orange;
}

.doctor-card img {
    width: 100%;
    display: block;
}

.doctor-info {
    padding: 15px;
}

.doctor-info h2 {
    margin: 0;
    font-size: 20px;
}

.doctor-info h3 {
    margin: 5px 0;
    color: #9df364;
    font-size: 16px;
    opacity: 0.7;
}

.doctor-info p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.4;
    opacity: 0.7;
}
