body {
    font-family: "Times New Roman", Arial, sans-serif;
    text-align: center;  
    background-color: #b6fae3;   /* nền toàn trang */
}

.nieng-rang,
.cay-ghep-implant,
.Kham-rang-dinh-ky {
    width: 250px;
    padding: 20px;
    margin: 10px;

    border: 1px solid #ccc;
    border-radius: 10px;

    background-color: #ffffff;   

    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

h3 {
    color: #3fafaf;
    margin: 10px 0;
    font-weight: bold;
}

p {
    font-size: 12px;
    margin: 10px 0;
    color: #333;
}
