body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.treatment-card {
    width: 450px;
    background-color: #ffffff;
    margin: 30px auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card-header {
    position: relative;
    margin-bottom: 15px;
}

.card-header h2 {
    margin: 0;
}

.status {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffd59a;
    color: #b36b00;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.treatment-card p {
    margin: 8px 0;
    color: #333;
}

.treatment-card h3 {
    margin-top: 20px;
}

.progress-bar {
    width: 100%;
    height: 12px;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin: 10px 0 15px;
}

.progress {
    width: 70%;              
    height: 100%;
    background-color: #32ff32;
    border-radius: 10px;
}

.Date p{
    opacity: 0.7; 
}