header {
    background-color: #fde68a;
    text-align: center;
}

body {
    font-family: cursive;
    color: #92400e;
    background-color: #fff7ed;
}

nav {
    background-color: #fed7aa;
    text-align: center;
    font-size: 15px;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: #92400e;
}

nav a:hover {
    background-color: #b30101;
    color: white;
}

footer {
    background-color: #78350f;
    color: white;
    text-align: center;   
}

.service-list li:hover {
    background-color: #78350f; 
    color: yellow;            
}